@if (!authService.user()) {
  <div class="center">
    <h2>You have to <a href="/account/register">register</a> or <a href="/account/login">log in</a> to use cart</h2>
  </div>
} @else if (cartItems().length) {
  <div class="header">
    <mat-checkbox
      (change)="onSelectAll($event)"
      [indeterminate]="selectedIds.size > 0 && !(selectedIds.size === cartItems().length)"
      [checked]="selectedIds.size === cartItems().length"
    >Select all</mat-checkbox>
    @if (selectedIds.size) {
      <button mat-icon-button (click)="onDeleteItems()"><img src="/assets/icons/trash.svg" alt="delete"/></button>
    }
  </div>
  <div class="cart">
    @for (cartItem of cartItems(); track cartItem.id) {
      <div class="cart-item" (click)="itemCheckbox.change.emit({source: itemCheckbox, checked: !itemCheckbox.checked});itemCheckbox.toggle()">
        <mat-checkbox (change)="onItemSelect(cartItem, $event.checked)" #itemCheckbox (click)="$event.stopPropagation()"></mat-checkbox>
        <app-item-bar [cartItem]="cartItem"></app-item-bar>
      </div>
    }
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-card-title>
        <div class="cost space-between">Total cost: {{totalCost() | currency}}</div>
      </mat-card-title>
    </mat-expansion-panel-header>
    <div class="purchase-details">
      @for (field of Object.entries(authService.purchaseData()); track field[0]) {
        <div class="detail">
          <div class="label"><span>{{field[0] | fieldToText}}: </span><span>{{field[1]}}</span></div>
          <div class="edit" (click)="onFieldChange(field)">set</div>
        </div>
      }
    </div>
    <button mat-flat-button (click)="onBuy()">Buy</button>
  </mat-expansion-panel>
} @else {
  <div class="center">
    @if (isLoading()) {
      <div class="center">
        <mat-spinner></mat-spinner>
        <h2>Loading...</h2>
      </div>
    } @else {
      <h2>There are no items yet</h2>
    }
  </div>
}
