<div class="paginator">
  <div class="arrow" (click)="onPrevious()">
    <div class="piece-wrapper">
      <div class="left-top arrow-side" [ngClass]="{disabled: page === 0}"></div>
    </div>
    <div class="piece-wrapper">
      <div class="left-bottom arrow-side" [ngClass]="{disabled: page === 0}"></div>
    </div>
  </div>

  <div class="currentPage">{{page + 1}}</div>

  <div class="arrow" (click)="onNext()">
    <div class="piece-wrapper">
      <div class="right-top arrow-side" [ngClass]="{disabled: isLastPage}"></div>
    </div>
    <div class="piece-wrapper">
      <div class="right-bottom arrow-side" [ngClass]="{disabled: isLastPage}"></div>
    </div>
  </div>
</div>
