@import '../../styles.scss';

:host {
}

mat-toolbar {
  background: $dark-theme-background;
}

mat-toolbar-row {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: auto;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
.gender-select {
}
ul {
}
li {
}

a {
  text-decoration: none;
  color: #d9d9d9;
  font-weight: 100;
  font-size: 14px;
}

