@import '../../styles.scss';

.logo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-size: 21px;
}

header {
  width: 100%;
  max-width: 1600px;
  height: 47px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  align-items: center;
  justify-items: center;
  background: $dark-theme-background;
}
.genders {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #d9d9d9;
  font-weight: 100;
  font-size: 14px;
}

@media screen and (max-width: 690px) {
  header {
    display: flex;
    justify-content: center;
  }
  .logo {
    display: none;
  }
}
