@import '../../styles.scss';

mat-toolbar-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  //background: $dark-theme-background;
}
.gender-select {
  width: 70dvw;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%;
}
li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #d9d9d9;
  font-weight: 100;
  font-size: 12px;
}

