@import "../../../../styles";
.img-placeholder {
  width: 100%;
  aspect-ratio: 375/300;
  background: grey;
  border-radius: .5rem;
}
.image {
  width: 100%;
  aspect-ratio: 375/300;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  img {
    width: 100%;
    position: absolute;
    left: 0;
    top: -20px;
  }
  .category-name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 16px;
    color: $text-color;
    cursor: pointer;
    &:first-child {
      font-size: 21px;
    }
  }
}
