<div class="header">
  <mat-icon svgIcon="account"></mat-icon>
  <div class="hello">Hello</div>
</div>
<form [formGroup]="form" (ngSubmit)="onLogin()">
  <div class="title">Login</div>

  <mat-form-field>
    <mat-label>Email: </mat-label>
    <input matInput formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password: </mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary">Login</button>
</form>
<div class="additional-actions">
  <a [routerLink]="['/', 'account', 'register']">Register</a>
  <a (click)="onPasswordReset()">Forgot password?</a>
</div>
<div class="google-auth">
  <a [href]="googleLink">
    <button mat-raised-button><div class=button-label><img [src]="googleIconLink"> Sign in with Google</div></button>
  </a>
</div>