@use "../../../../variables";

:host {
  padding: 1rem;
}
.back-button-wrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.order-history {
  max-width: 500px;
  margin: 0 auto;
}
mat-spinner {
  margin: auto;
}
