.item-bg {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}
input {
  position: absolute;
  opacity: 0;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #eee;
  border-radius: 0.25rem;
}
.checkmark:after {
  display: none;
  content: "";
  position: absolute;

  width: 5px;
  height: 10px;
  left: 9px;
  top: 5px;
  border: solid darkgray;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkmark.color-white:after {
  border: solid white;
  border-width: 0 3px 3px 0;
}
.checkmark.color-black:after {
  border: solid black;
  border-width: 0 3px 3px 0;
}
input:checked ~ .checkmark:after {
  display: block;
}
