<div class="dialog">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content>
    <div class="description">{{data.description}}</div>
    <form #f="ngForm">
      <mat-form-field *ngFor="let input of data.inputs">
        <mat-label>{{input[0].toUpperCase() + input.slice(1).toLowerCase()}}</mat-label>
        <input matInput ngModel [type]="setInputType(input)" [name]="input">
        <mat-icon *ngIf="input.includes('password')" [svgIcon]="passwordsShown[getPasswordIndex(input)].isShown ? 'visibility' : 'visibility_off'" (click)="turnPasswordShown(input)"></mat-icon>
      </mat-form-field>
    </form>
    <p>{{data.note}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.inputs ? f : null">{{data.buttonName || 'Ok'}}</button>
  </mat-dialog-actions>
</div>
