<div class="dialog">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content>
    @if (data.description) {
      <div class="description">{{data.description}}</div>
    }
    @if (data.isLoading) {
      <div class="center">
        <mat-spinner/>
      </div>
    } @else {
      <form [formGroup]="form">
        @for (input of data.inputs; track input.name; let i = $index) {
          <mat-form-field>
            <mat-label>{{input.name | fieldToText}}</mat-label>
            <input matInput [formControlName]="input.name" [type]="setInputType(input.name)">
            @if (input.name.includes('password')) {
              <button mat-icon-button matSuffix (click)="turnPasswordShown(input.name)">
                <img [src]="'assets/icons/' + passwordsShown[getPasswordIndex(input.name)].isShown ? 'visibility' : 'visibility_off' + '.svg'" alt="Show/hide password" (click)="turnPasswordShown(input.name)"/>
              </button>
            }
          </mat-form-field>
        }
        @for (select of data.selects; track select.name) {
          <mat-form-field>
            <mat-label>{{select.name | fieldToText}}</mat-label>
            <mat-select [formControlName]="select.name">
              @for (value of select.values; track value) {
                <mat-option [value]="value">{{value}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </form>
    }
    <p>{{data.note}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.inputs || data.selects ? form : null">{{data.buttonName || 'Ok'}}</button>
  </mat-dialog-actions>
</div>
