@import "../../../variables";

* {
  color: $text-color;
}
.reviews {
  max-width: 1150px;
  margin: 0 auto;
}
.header {
  font-size: 21px;
  margin-left: 15px;
}
.body {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
