@use "../../../variables";

:host {
  @include variables.desktop-side-padding();
}

.account {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 5px;

  .item-bars-list {
    padding: 0.5rem;
    margin: 0 auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sec {
      display: flex;
      align-items: center;
    }
    .hello {
      font-size: 21px;
    }
  }
  ul {
    list-style: none;
    font-size: 16px;
    padding-left: 16px;
  }
  li {
    margin: 20px 0;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  :host {
    @include variables.desktop-side-padding();
  }
}
