@import "../../../styles";

nav {
  display: none;

  img {
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  nav {
    background: $dark-theme-background;
    z-index: 999;
    height: 67px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 1rem 1rem 0 0;
  }
}
