@use '../../../../../variables.scss';

.outlet {
  span:first-child {
    padding: 0 0.5rem;
  }
}

.outlet {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.outlet * {
  text-decoration: none;
  color: variables.$on-surface;
  min-width: 175px;
}

.carousel {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  overflow-x: auto;
}

@media only screen and (max-width: 300px) {
  .outlet {
    width: 100vw;
    width: 100dvw;
  }
}
