@use "../../../../variables";
:host {
  display: inline-block;
  font-size: 16px;
}

.breadcrumb-links > *{
  display: inline;
}

.breadcrumb-links {
  display: inline;
}
.breadcrumb-link {
  display: inline;
}

.breadcrumb-link a{
  text-decoration: none;
}

.breadcrumb-link :hover{
  color: variables.$breadcrumb-hover;
}
