@use "../../../variables";
.img-placeholder {
  width: 100%;
  aspect-ratio: 375/300;
  background: grey;
  border-radius: .5rem;
}
.image {
  width: 100%;
  aspect-ratio: 375/300;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  img {
    width: 100%;
  }
  .dark-bottom-gradient-image::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 200%;
    background: linear-gradient(0deg, rgba(20, 19, 19, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .category-name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 16px;
    cursor: pointer;
    &:first-child {
      font-size: 21px;
    }
    span {
      width: 100%;
      text-align: center;
    }
    img {
      position: initial;
      height: 25px;
      display: flex;
    }
  }
}

.outlet {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}


@media only screen and (max-width: 300px) {
  .outlet {
    width: 100vw;
    width: 100dvw;
  }
}
