<div class="review" *ngIf="isAuth">
  <div class="header">
    <div class="author">{{getUser().name + ' ' + getUser().lastname}}</div>
    <div class="date-stars">
      <div class="stars">
        <div class="star" *ngFor="let star of stars" (click)="setRating(star.rate); starX.click()" [ngClass]="{'star-selected': star?.rate <= rating}">
          <svg width="20" height="20" >
            <polygon points="10,1 4,19.8 19,7.8 1,7.8 16,19.8"/>
          </svg>
          <input [(ngModel)]="rating" type="radio" name="rating" [value]="star.rate" #starX>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <textarea matInput [(ngModel)]="text" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary">Post</button>
  </div>
</div>
<div class="review" *ngIf="!isAuth">
  Please, register or log in to leave a review
</div>
