@use "../../variables";

.item {
  color: variables.$text-color;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .images {
      flex-grow: 1;
      max-width: 650px;

      img {
        width: 100%;
        //max-width: 876px;
        border-radius: 1rem;
      }

      .img-carousel {
        height: 100px;
        display: flex;
        overflow: auto;
        gap: 10px;
        margin: 10px;

        img {
          height: calc(100% - 5px);
          width: auto;
          cursor: pointer;
        }
      }
    }

    .description {
      max-width: 500px;
      flex-grow: 1;

      .product-name {
        font-size: 18px;
        margin: 15px;
      }

      .sizes {
        margin: 10px 0;
        width: 100%;
        overflow: auto;
        .scroll {
          width: fit-content;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          padding: 5px 10px;

          & > * {
            background: variables.$dark-theme-background-darker;
            color: grey;
            border-radius: 50%;
            aspect-ratio: 1/1;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .available {
            background: variables.$dark-theme-background-darker;
            color: white;
            cursor: pointer;
          }
  
          .selected {
            background: variables.$accent;
            color: variables.$accent-color;
          }
        }
      }

      .parameters {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        gap: 10px;

        span:first-child {
          font-size: 18px;
          text-align: center;
        }

        .param {
          span:first-child {
            text-align: left;
          }

          span:nth-child(2) {
            text-align: right;
          }
        }
      }

      .space-between {
        display: flex;
        justify-content: space-between;
      }

      .quantity {
        margin: 10px 20px;
        display: flex;
        align-items: center;

        span {
          font-size: 18px;
        }

        .select-quantity {
          max-width: 150px;

          input {
            width: 50px;
            background: variables.$dark-theme-background;
            outline: 0;
            border: 0;
            color: variables.$text-color;
            text-align: center;
            font-size: 18px;
          }
  
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }        
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        button {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 876px) {
  .product {
    flex-direction: column;

    .images {
      width: 100%;
    }

    .description {
      width: 100%;
    }
  }
}
