<div class="item" *ngIf="item">
  <app-breadcrumb [itemName]="item.name"></app-breadcrumb>
  <div class="product">
    <div class="images" *ngIf="item.images">
      <img [src]="'data:image/png;base64,' + item.images[selectedImageIndex].image" [alt]="item.name">
      <div class="img-carousel">
        <img *ngFor="let image of item.images; let i = index" [src]="'data:image/png;base64,' + image.image"
             [alt]="item.name" (click)="selectedImageIndex = i">
      </div>
    </div>
    <div class="description">
      <div class="product-name space-between">
        <span>{{item.name}}</span>
        <span>{{item.price | currency}}</span>
      </div>
      <div class="sizes">
        <div class="size"
             *ngFor="let size of item.sizes"
             [ngClass]="{'available': item.availableSizes.includes(size), 'selected': size === selectedUniqueItem.size}"
             (click)="item.availableSizes.includes(size) ? setUniqueItemBySize(size) : ''"
        >{{sizeString(size)}}</div>
      </div>
      <div class="parameters">
        <span>Parameters</span>
        <div class="param space-between" *ngFor="let param of params">
          <span>{{param.key + ":"}}</span>
          <span>{{param.value}}</span>
        </div>
      </div>
      <div class="count space-between">
        <span>Count:</span>
        <input type="number" [(ngModel)]="count">
        <mat-error *ngIf="count > selectedUniqueItem.quantity">Please, provide number less or equal to the quantity of the item</mat-error>
      </div>
      <div class="actions">
        <button mat-flat-button color="primary" (click)="addToCart()">Add to cart</button>
        <button mat-flat-button color="primary" (click)="orderNow()">Order now</button>
      </div>
    </div>
  </div>
</div>
<app-reviews [reviews]="item?.reviews"></app-reviews>
