@import "../../styles";
.item {
  color: $text-color;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .product {
    display: flex;
    flex-wrap: wrap;
    .images {
      width: 100%;
      img {
        width: 100%;
        max-width: 876px;
        border-radius: 1rem;
      }
      .img-carousel {
        height: 100px;
        display: flex;
        overflow: auto;
        gap: 10px;
        img {
          height: calc(100% - 5px);
          width: auto;
          cursor: pointer;
        }
      }
    }

    .parameters {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      margin: 0 20px;
      gap: 10px;
      span:first-child {
        font-size: 18px;
        text-align: center;
      }
      .param {
        span:first-child {
          text-align: left;
        }

        span:nth-child(2) {
          text-align: right;
        }
      }
    }
    .product-name {
      font-size: 18px;
      margin: 0 15px;
    }
    .flex-space-between {
      display: flex;
      justify-content: space-between;
    }
  }


}
