@use "../../variables";

:host {
  @include variables.desktop-side-padding();
}

.item {
  font-size: 1rem;
  display: flex;
  flex-direction: column;

  .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .images {
      flex-grow: 1;
      max-width: 650px;
      position: relative;

      img {
        width: 100%;
        border-radius: 0.5rem;
      }

      .img-carousel {
        @include variables.img-carousel();
      }
    }

    .description {
      max-width: 500px;
      flex-grow: 1;

      .product-name {
        font-size: 1rem;
        margin: 1rem;
      }

      .sizes {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0;
        width: 100%;
        overflow: auto;
        .scroll {
          width: fit-content;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          padding: 5px 10px;

          .size {
            background: variables.$dark-theme-background-lighter;
            color: grey;
            border-radius: 50%;
            aspect-ratio: 1/1;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .available {
            background: variables.$surface-container;
            color: variables.$on-surface;
            cursor: pointer;
          }

          .selected {
            background: variables.$accent;
            color: variables.$accent-color;
          }
        }
      }

      .parameters {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        gap: 10px;

        span:first-child {
          font-size: 18px;
          text-align: center;
        }

        .param {
          span:first-child {
            text-align: left;
          }

          span:nth-child(2) {
            text-align: right;
          }
        }
      }

      .space-between {
        display: flex;
        justify-content: space-between;
      }

      .quantity {
        margin: 10px 20px;
        display: flex;
        align-items: center;

        span {
          font-size: 18px;
        }
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0.5rem;

        button {
          width: 100%;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 876px) {
  :host {
    @include variables.mobile-side-padding();
  }
  .product {
    flex-direction: column;

    .images {
      width: 100%;
      position: relative;
    }

    .description {
      width: 100%;
    }
  }
}
