@use "../../../variables";

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin: 1rem auto;

  input {
    background: variables.$filter-bubble;
    border: none;
    font-size: 21px;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 80%;
    &:focus {
      outline: none;
      filter: drop-shadow(0 0 0.25rem variables.$background-secondary);
    }
  }

  img {
    color: variables.$filter-bubble;
    border-radius: 1rem;
    padding: 0.5rem;
    &:hover {
      background: #404040;
    }
  }
}
