<div class="card" [routerLink]="linkToItem()">
  @if (!item().images) {
    <div class="placeholder"></div>
  } @else {
    <img
      [src]="item().images[0]?.url"
      [alt]=item().name
      [routerLink]="linkToItem()"/>
  }
  <div class="red-overlay" [ngStyle]="{'background': Math.floor(item().discount * 100) !== 0 ? 'linear-gradient(225deg, rgb(255, 0, 0)  5%, rgba(125, 125, 125, 0) 30%)' : 'none'}"></div>
  <app-add-to-favorites [item]="item()"/>
  <div class="images">
    @for (image of item().images; track image.id) {
      <img
        [src]="image.url"
        [alt]="item().name"/>
    }
  </div>
  <div class="card-bottom">
    <span>{{item().name}}</span>
    <div class="price">
      @if (item().discount) {
        <span class="old-price">{{item().price | currency}}</span>
        <span class="discount">{{item().discount | percent}}</span>
      }
      <span class="price-after-discount">{{item().priceAfterDiscount | currency}}</span>
    </div>
  </div>
</div>
