@import '../../../../styles';
.card {
  display: flex;
  flex-direction: column;
  color: $text-color;
  background: rgba(0,0,0,0);
  overflow: hidden;
  position: relative;
  font-size: 16px;
  img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    display: block;

    &::before {
      content: "";
      background: grey;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      height: 500px;
      width: 100px;
    }
  }
  .card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 5px;
    .price {
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: flex-end;
      * {
        margin-left: .5rem;
      }
      .old-price {
        color: grey;
        text-decoration: line-through;
      }
      .discount {
        color: red;
      }
      .old-price, .discount {
        font-size: 12px;
      }
    }
  }
  .red-overlay {
    width: 100%;
    height: 90%;
    background: linear-gradient(33deg, rgba(255,255,255,0) 0%, rgba(125,125,125,0) 65%, rgba(255,0,0,1) 92%);
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  .fav-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  .red-overlay span{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #d9d9d9;
    font-weight: bold;
    font-size: 16px;
  }
  .placeholder {
    height: 150px;
    background: #404040;
    border-radius: 4px;
  }

}
