@if (order()) {
  @if (order().itemEntries.length > 1) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <app-item-bar [cartItem]="order().itemEntries[0]"/>
      </mat-expansion-panel-header>
      <div class="entries-list">
        @for (itemEntry of order().itemEntries.slice(1); track itemEntry.id) {
          <app-item-bar [cartItem]="itemEntry"/>
        }
      </div>
    </mat-expansion-panel>
  } @else {
    <app-item-bar [cartItem]="order().itemEntries[0]"/>
  }
  <mat-divider/>
  <div class="order-details">
    <span>Total cost:</span><span class="old-price">{{order().totalPrice | currency}}</span><span>{{order().totalPriceAfterDiscount | currency}}</span>
    <span>Date:</span><span>{{order().createdAt}}</span>
    <span>Order ref:</span><span>{{order().id}}</span>
    <span>Status:</span><span>{{order().status}}</span>
    <span>Delivery address: </span><span>st. ExampleStreet, 12/3 45-678, ExmpleCity, ExampleWoiwodeship</span>
    <span>Estimated delivery time: </span><span>01/01/2025</span>
    <span>Delivery method: </span><span>Courier</span>
    <span>Payment method: </span><span>Card</span>
    <span>Wishes: </span><span>Fragile</span>
  </div>
} @else if (isLoading()) {
  <div class="center">
    <mat-spinner/>
  </div>
}

