<div class="account">
  <div class="header">
    <div class="sec">
      <mat-icon svgIcon="account"></mat-icon>
      <div class="hello">Hello, {{user.name}}</div>
    </div>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon svgIcon="logout">logout</mat-icon>
    </button>
  </div>
  <ul>
    <li (click)="accounService.enterPromocode()">Enter Promocode</li>
    <li [routerLink]="['/', 'orders', 'history']">Orders history</li>
    <li>Add credit or debit card</li>
    <li routerLink="policies">Privacy Policy & Agreements</li>
    <li (click)="onLogout()">Logout</li>
  </ul>
</div>

