mat-spinner {
  margin: 35dvh auto;
}

.breadcrumb-wrapper {
  display: flex;
  flex-direction: row;
  margin: 2dvw 5dvw;
}

app-breadcrumb {
  //float: left;
  display: block;
}

.categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.category {
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: #d9d9d9;
  aspect-ratio: 1/1;
  box-sizing: border-box;

  background: #313131;
  padding: 0;
  border-radius: 1rem;
  height: 100%;
}

.category span {
  //top: 90%;
  margin: 90% auto 0;
  font-size: 14px;
  z-index: 5;
}

.category span:hover + .darken {
  background: linear-gradient(rgba(100, 100, 100,0), rgba(0, 0, 0, 250));
  transform: scale(1.1);
  z-index: 4;
}

.category span:hover + .category-image {
  background: linear-gradient(rgba(100, 100, 100,0), rgba(0, 0, 0, 250));
  transform: scale(1.1);
  z-index: 3;
}

.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255,255,255,0), rgba(0, 0, 0, 250));
  left: 0;
  top: 0;
  transition: transform .2s;
  z-index: 2;
}

.darken:hover {
  background: linear-gradient(rgba(100, 100, 100,0), rgba(0, 0, 0, 250));
  transform: scale(1.1);
  z-index: 4;
}

.category-image {
  position: absolute;
  width: 100%;
  height: 100%;
  //aspect-ratio: 1/1;
  left: 0;
  top: 0;
  transition: transform .2s;
  z-index: 1;
}

.darken:hover + .category-image {
  transform: scale(1.1);
  z-index: 3;
}

//.darken:hover + .category span {
//  font-size: 22px;
//  z-index: 5;
//}

.black-box {
  background: black;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}

a {
  text-align: center;
}

.child-genders {
  display: grid;
  grid: 1fr 1fr/1fr 1fr;
  max-width: 1000px;
}
.child-gender {
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #343434;
  aspect-ratio: 1/1;

  background: #790000;
  padding: 10px;
  border-radius: 1rem;
}
