<div class="categories">
  <app-breadcrumb class="breadcrumb-line"/>
  <mat-spinner *ngIf="isLoading"/>
  <div class="categories-list" *ngIf="categories && !isLoading">
    <a class="category"
       *ngFor="let category of categories"
       [routerLink]="category.id | lowercase"
    >
      <ng-template [ngIf]="category.image">
        <div class="dark-bottom-gradient"></div>
        <img class="category-image" [src]="'data:image/png;base64,' + category.image" [alt]="category">
      </ng-template>
      <span>{{category.name | uppercase}}</span>
    </a>
  </div>
</div>
