<div class="categories">
  <div class="breadcrumb-wrapper"><app-breadcrumb></app-breadcrumb>
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="categories-list" *ngIf="gender !== 'children'; else childrenCategories">
    <a class="category"
       *ngFor="let category of categories"
       [routerLink]="category.name | lowercase"
       [ngStyle]="{background: this.gender === 'men' ? 'darkblue' : this.gender === 'women' ? 'darkred' : 'green'}"
       (click)="onCategorySelect(category.id)"
    >
      <div class="darken"></div>
      <img class="category-image" [src]="'data:image/png;base64,' + category.image" [alt]="category">
      <span>{{category.name | uppercase}}</span>
    </a>
  </div>
  <ng-template #childrenCategories>
    <div class="child-genders" >
      <div class="child-gender" *ngFor="let cGender of childGenders" [ngStyle]="{background: cGender === 'boys' ? 'turquoise' : 'pink'}">
        {{cGender | uppercase}}
        <a *ngFor="let category of categories" [routerLink]="[cGender, category.name | lowercase]" class="category">{{category.name | uppercase}}</a>
      </div>
    </div>
  </ng-template>

</div>
