<div class="filter-centered-container">
  <form *ngIf="form" [formGroup]="form" (submit)="onSubmitFilter()">
    <div class="filter-logo">
      <img class="logo" src="../../../assets/logo_light.svg" alt="logo" height="47" width="26"/>
      <span>SPACE FINCHER</span>
    </div>
    <div class="clear">
      <button mat-button (click)="resetForm()">Reset</button>
    </div>
    <div class="price-box">
      <div class="label">Price</div>
      <div class="price-inputs">
        <mat-form-field>
          <input
            type="number"
            matInput
            formControlName="priceFrom"
            placeholder="From">
        </mat-form-field>
        <span class="dash"> - </span>
        <mat-form-field>
          <input
            type="number"
            matInput
            formControlName="priceTo"
            placeholder="To">
        </mat-form-field>
      </div>
    </div>
    <div class="size-box">
      <div class="label"><span>Size</span></div>
      <mat-chip-listbox aria-label="filter selection" multiple formControlName="sizes">
        <mat-chip-option
          *ngFor="let size of filters.sizes"
          [value]="size">
          {{size}}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="sortBy">
      <div class="label">Sort by</div>
      <mat-form-field>
        <mat-label><span>Sort By</span></mat-label>
        <mat-select formControlName="sortBy">
          <mat-option *ngFor="let sort of filters.sort" [value]="sort.value">
            {{sort.name[0].toUpperCase() + sort.name.slice(1)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="brands">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Brands</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="column">
          <mat-checkbox
            *ngFor="let filterName of filters.brands"
            [value]="filterName.id"
            (change)="changeFilter('brands', filterName.name)"
          >{{filterName.name}}</mat-checkbox>
        </div>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </div>
    <div class="colors">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Colors</mat-panel-title>
        </mat-expansion-panel-header>
        <app-checkbox
          *ngFor="let colorFilter of filters.colors"
          [text]="colorFilter"
          [bgColor]="colorFilter"
          [inputValue]="colorFilter"
          (change)="changeFilter('colors', colorFilter)"
        ></app-checkbox>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </div>
    <div class="seasons">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Seasons</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="column">
          <mat-checkbox
            *ngFor="let filterName of filters.seasons"
            (change)="changeFilter('seasons', filterName)"
          >{{getFilterName(filterName)}}</mat-checkbox>
        </div>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
    </div>
    <div class="materials">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Materials</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="column">
          <mat-checkbox
            #checkboxes
            *ngFor="let filterName of filters.materials"
            (change)="changeFilter('materials', filterName)"
          >{{getFilterName(filterName)}}</mat-checkbox>
        </div>
      </mat-expansion-panel>
    </div>
    <button mat-raised-button id="filter-button" type="submit" color="primary">Filter</button>
  </form>
</div>



