<div class="filter-centered-container">
  <form #filterForm="ngForm" (submit)="onSubmitFilter(filterForm)">
    <img class="logo" src="assets/logo.svg" alt="logo" height="47" width="26"/>
    <div class="price-box">
      <h3><span>Price</span></h3>
      <div class="price-inputs">
        <mat-form-field>
          <input
            type="number"
            matInput
            name="priceFrom"
            ngModel
            placeholder="From">
        </mat-form-field>
        <span> - </span>
        <mat-form-field>
          <input
            type="number"
            matInput
            name="priceTo"
            ngModel
            placeholder="To">
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="selected-filters">
      <div class="size-box">
        <span>Size</span>
        <mat-chip-listbox aria-label="filter selection" multiple>
          <mat-chip-option *ngFor="let size of filters.sizes" [value]="size" (selectionChange)="changeFilter('size', size)">
            {{size}}
            <!--            <button matChipRemove [attr.aria-label]="'remove' + filter">-->
            <!--              <mat-icon>cancel</mat-icon>-->
            <!--            </button>-->
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <mat-divider></mat-divider>
      <span>Sort by</span>
      <mat-form-field>
        <mat-label>Sort By</mat-label>
        <mat-select ngModel name="sortBy">
          <mat-option *ngFor="let sort of filters.sort" [value]="sort.value">
            {{sort.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field>
        <mat-label>Subcategory</mat-label>
        <mat-select ngModel name="subcategory">
          <mat-option *ngFor="let subcategory of filters.subcategories" [value]="subcategory">{{subcategory}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Brand</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkboxes-column">
          <mat-checkbox *ngFor="let brand of filters.brands" (change)="changeFilter('brand', brand.name)">{{brand.name}}</mat-checkbox>
        </div>
      </mat-expansion-panel>
    </div>
    <mat-divider></mat-divider>
    <app-checkbox text="checkbox"></app-checkbox>
      <div class="colors">
<!--          <mat-checkbox class="color-filter" *ngFor="let color of filters.colors" (click)="changeFilter('colors', color)" [ngStyle]="{borderRadius: '1rem', border: '5px solid ' + getColorOfColorFilter(color), color: color === 'white' ? 'black' : '#d9d9d9'}">{{color}}</mat-checkbox>-->
        <div class="color-filter-active" [ngStyle]="{background: filtersSelected.colors.includes(color) ? '#19ccb2' : 'none'}" *ngFor="let color of filters.colors" (click)="changeFilter('colors', color)">
          <div class="color-filter" [ngClass]="{multi: color === 'multi'}" [ngStyle]="{background: getColorOfColorFilter(color), color: color === 'white' ? 'black' : '#d9d9d9'}"></div>
        </div>
      </div>
    <mat-divider></mat-divider>
    <button mat-raised-button id="filterButton" type="submit" color="primary" (click)="onCloseDrawer()">Filter</button>
  </form>
</div>



