@import '../../styles';
input {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}
.filter-centered-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}

form {
  width: 90%;
}

.filter {
  background: $background-secondary;
  border-radius: 0 10px 10px 0;
  width: 90%;
  .logo {
    margin: 0 10px;
  }
  .price-box {
    margin-top: 10px;
  }
  .selected-filters span {
    display: block;
    margin: 15px 0 10px 0;
  }
  //.sizes span {
  //  display: inline-flex;
  //  border-radius: 50px;
  //  width: 28px;
  //  aspect-ratio: 1/1;
  //  justify-content: center;
  //  align-items: center;
  //  background: none;
  //}
  mat-divider {
    margin: 5px 0;
  }
  mat-form-field {
    margin-top: 20px;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  [type='submit'] {
    width: 100% !important;
  }
}

.filter-bubble {
  background: $filter-bubble;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 1vh;
  left: 1vw;
  svg {
    width: 70%;
    height: 70%;
    position: relative;
    left: 15%;
    top: 20%;
  }
}
