@use "../../../variables";

:host {
  @include variables.desktop-side-padding();
  max-width: 1600px;
  height: 70px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  align-items: center;
  background: variables.$surface;
  font-size: 1.25rem;
}

.logo {
  height: 34px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  cursor: pointer;
}

.genders {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

a {
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
}

app-navbar {
  display: flex;
}

.tab-name {
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  :host {
    @include variables.mobile-side-padding();
    display: flex;
    justify-content: center;
  }
  .logo, app-navbar {
    display: none;
  }
}
