@use "../../../../variables";

:host {
  border: 3px solid variables.$dark-theme-background-lighter;
  padding: 20px;
  border-radius: 1rem;
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    .flex {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
    .author {
      font-size: 1.25rem;
    }
    .stars {
      display: flex;
      align-items: center;
      align-content: center;
    }
    .star-selected svg{
      fill: yellow;
    }
  }
  .content {

  }
}
