@import "../../../../variables";

* {
  color: $text-color;
  font-size: 16px;
}

.review {
  border: 3px solid $dark-theme-background-lighter;
  padding: 20px;
  border-radius: 1rem;
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    .author {
      font-size: 21px;
    }
    .stars {
      display: flex;
      align-items: center;
      align-content: center;
    }
    .star-selected svg{
      fill: yellow !important;
    }
  }
  .content {

  }
}
