@use "../variables";

* {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1600px;
  padding-bottom: variables.$navbar-height;
}

app-navbar {
  display: none;

  z-index: 999;
  width: 100vw;
  height: variables.$navbar-height;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 1rem 1rem 0 0;
}

@media screen and (max-width: 768px) {
  app-navbar {
    display: flex;
  }
}
