@import '../styles';

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1c1c1c;
  color: #d9d9d9;
  font-family: 'Inter', sans-serif;
}

main {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1600px;
  padding: 0 10px 67px;
}
