@use '../../../../variables';

:host {
  display: block;
  padding: 1.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.images {
  img {
    width: 100%;
  }
  .img-carousel {
    @include variables.img-carousel();
  }
}

form {
  display: flex;
  flex-direction: column;
}

.add-unique-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
