.outlet {
  margin: 10px 0;
}

.outlet {
  display: flex;
}

.outlet * {
  text-decoration: none;
  color: #d9d9d9;
}

@media only screen and (max-width: 300px) {
  .outlet {
    width: 100dvw;
  }
}
