.outlet {
  width: 90dvw;
  margin: 50px auto;
}

.outlet {
  display: flex;
  flex-direction: column;
}

.outlet * {
  text-decoration: none;
  color: #d9d9d9;
}

@media only screen and (max-width: 300px) {
  .outlet {
    width: 100dvw;
  }
}
