.outlet {
  span:first-child {
    padding: 0 10px;
  }
}

.outlet {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.outlet * {
  text-decoration: none;
  color: #d9d9d9;
  min-width: 150px;
}

.carousel {
  display: flex;
  gap: 10px;
  flex: 1;
  overflow-x: auto;
}

@media only screen and (max-width: 300px) {
  .outlet {
    width: 100dvw;
  }
}
