@use '../../../../variables';

.carousel {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  overflow-x: auto;

  app-item-card {
    width: 277px;
  }
}

@media (min-width: 768px) {
  .carousel app-item-card {
    width: 316px;
  }
}
