@use '../../../../variables';

.carousel {
  display: flex;
  gap: 0.5rem;
  flex: 1;
  overflow-x: auto;

  app-item-card {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .carousel app-item-card {
    width: 60%;
  }
}

