<div class="filter-centered-container">
  @if (form) {
    <form [formGroup]="form" (submit)="onSubmitFilter()">
      <div class="filter-logo">
        <img class="logo" src="/assets/icons/logo.svg" alt="SpaceFincher" height="47" width="26"/>
        <span>SPACE FINCHER</span>
      </div>
      <div class="reset">
        <button mat-button type="button" (click)="resetForm()">Reset</button>
      </div>
      <div class="price-box">
        <div class="label">Price</div>
        <div class="price-inputs">
          <mat-form-field>
            <input
              type="number"
              matInput
              formControlName="priceFrom"
              placeholder="From">
          </mat-form-field>
          <span class="dash"> - </span>
          <mat-form-field>
            <input
              type="number"
              matInput
              formControlName="priceTo"
              placeholder="To">
          </mat-form-field>
        </div>
      </div>
      <div class="size-box">
        <div class="label">Size</div>
        <mat-chip-listbox aria-label="filter selection" multiple formControlName="sizes">
          @for (size of filters.sizes; track size) {
            <mat-chip-option
              [value]="size">
              {{size}}
            </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
      <div class="sortBy">
        <div class="label">Sort</div>
        <mat-form-field>
          <mat-label>Sort</mat-label>
          <mat-select formControlName="sortBy">
            @for (sort of filters.sort; track sort.name) {
              <mat-option [value]="sort.value">
                {{sort.name[0].toUpperCase() + sort.name.slice(1)}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="brands">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Brands</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="column">
            @for (filterName of filters.brands; track filterName.id) {
              <mat-checkbox
                #checkboxes
                [value]="filterName.id"
                (change)="changeFilter('brands', filterName.name)"
              >{{filterName.name}}</mat-checkbox>
            }
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </div>
      <div class="colors">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Colors</mat-panel-title>
          </mat-expansion-panel-header>
          @for (colorFilter of filters.colors; track colorFilter) {
            <app-checkbox
              #checkboxes
              [text]="colorFilter"
              [bgColor]="colorFilter"
              [inputValue]="colorFilter"
              (change)="changeFilter('colors', colorFilter)"
            />
          }
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </div>
      <div class="seasons">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Seasons</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="column">
            @for (filterName of filters.seasons; track filterName) {
              <mat-checkbox
                #checkboxes
                (change)="changeFilter('seasons', filterName)"
              >{{getFilterName(filterName)}}</mat-checkbox>
            }
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </div>
      <div class="materials">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Materials</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="column">
            @for (filterName of filters.materials; track filterName) {
              <mat-checkbox
                #checkboxes
                (change)="changeFilter('materials', filterName)"
              >{{getFilterName(filterName)}}</mat-checkbox>
            }
          </div>
        </mat-expansion-panel>
      </div>
      <button mat-raised-button id="filter-button" type="submit" color="primary">Filter</button>
    </form>
  }
</div>



