<div class="item-bar" (click)="onNavigate($event)">
  <div class="images">
    @if (selectedImage) {
      <img [src]="'data:image/png;base64,' + selectedImage" alt=""/>
      @if (order().itemEntries.length > 1) {
        <div class="images-carousel">
          @for (item of order().itemEntries; track item.id) {
            @if (item.images?.length) {
              <img [src]="'data:image/png;base64,' + item.images[0].image" [alt]="item.itemName" (click)="selectedImage = item.images[0].image"/>
            }
          }
        </div>
      }
    }
  </div>
  <div class="names-status">
    <span class="names">
      @for (item of order().itemEntries; track item.id; let i = $index) {
        @if (i <= 7) {
          <span>{{item.itemName}}</span>
        }
        @if (i === 7) {
          <span>...</span>
        }
      }
    </span>
    <span class="status" [ngStyle]="{color: getDeliveryColor(order().status)}">
      <span>{{order().status}}</span>
    </span>
  </div>
  <div class="price-date">
    <div class="price">{{order().totalPriceAfterDiscount | currency}}</div>
    <div class="date">{{order().createdAt | date}}</div>
  </div>
</div>
