<div class="item-bar" (click)="onNavigate($event)">
  <div class="images">
    @if (selectedImage) {
      <img [src]="selectedImage"
           [ngStyle]="{cursor: order().itemEntries.length === 1 ? 'pointer' : 'default'}"
           alt=""/>
      @if (order().itemEntries.length > 1) {
        <div class="images-carousel">
          @for (item of order().itemEntries; track item.id) {
            @if (item.images?.length) {
              <img [src]="item.images[0].url"
                   [alt]="item.itemName"
                   (click)="selectedImage = item.images[0].url"/>
            }
          }
        </div>
      }
    }
  </div>
  <div class="names-status">
    <span class="names">
      @for (item of order().itemEntries; track item.id; let i = $index) {
        @if (i <= 2 || showMoreItems()) {
          <span>{{item.itemName}}({{item.itemSize}}) * {{item.quantity}}</span>
        }
        @if (i > 2) {
          <span (click)="onShowChange()">{{ showMoreItems() ? 'less' : 'more' }}</span>
        }
      }
    </span>
    <span class="status" [ngStyle]="{color: getDeliveryColor(order().status)}">
      <span>{{order().status}}</span>
    </span>
  </div>
  <div class="price-date">
    <div class="price">{{order().totalPriceAfterDiscount | currency}}</div>
    <div class="date">{{order().createdAt | date}}</div>
  </div>
</div>
