@import '../../styles';


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.mat-drawer-container{
  background: #1c1c1c;
}



.cloth-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  margin: auto;
  width: 90vw;
}

.card{
  display: flex;
  flex-direction: column;
  color: $text-color;
  background: $dark-theme-background;
  overflow: hidden;
  img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    //object-position: 50% -30px;
  }
}
.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}



footer {
  height: 250px;
}

@media only screen and (max-width: 960px) {
  .cloth-flex {
    margin: 0;
    width: 100%;
  }
  .card {
    width: 33vw;
  }
  .card img {
    width: 33vw;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 49vw;
    overflow: hidden;
  }
  .card-bottom {
    font-size: 14px;
    padding: 10px;
  }

  .card img {
    width: 49vw;
  }
}
