@import '../../styles';

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.filter {
  background: $background-secondary;
  border-radius: 0 10px 10px 0;
  width: 90%;
  max-width: 480px;
}

.filter-bubble {
  z-index: 999;
  background: $filter-bubble;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 1dvh;
  left: 1dvw;
  svg {
    width: 70%;
    height: 70%;
    position: relative;
    left: 15%;
    top: 20%;
  }
}

.mat-drawer-container{
  background: #1c1c1c;
  min-height: 100dvh;
}

mat-spinner {
  margin: 30dvh auto;
}

.cloth-grid {
  display: grid;
  max-width: 1600px;
  grid: repeat(5, 1fr)/repeat(4, 1fr);
  justify-content: center;
  margin: auto;
  gap: 10px;
  width: 90vw;
}

app-paginator {
  width: 75%;
  margin: 50px auto;
  display: flex;
}

.mat-mdc-progress-spinner {
  //--mdc-circular-progress-active-indicator-color: blue;
}


footer {
  //height: 250px;
}

@media only screen and (max-width: 960px) {
  .cloth-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .cloth-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
