<mat-drawer-container>
  <app-filter></app-filter>
  <div class="breadcrumb">
    <span><a [routerLink]="['/']">main page</a><span>/</span><a [routerLink]="['/' + this.gender]">{{this.gender}}</a>/{{this.category}}</span>
  </div>
  <div class="cloth-grid">
    <div class="card" *ngFor="let item of items">
      <img [src]="'data:image/png;base64,' + item.images[0]" [alt]=item.name />
<!--      <div class="image"></div>-->
      <div class="card-bottom">
        <span>{{item.name}}</span>
        <div class="price">{{item.price}}</div>
      </div>
    </div>
  </div>
  <mat-paginator
    [pageSize]="10"
    [length]="this.items.length"
    (page)="handlePageEvent($event)"></mat-paginator>
  <footer>
  </footer>
</mat-drawer-container>
