@use "../../../variables";

:host {
  background: variables.$surface;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  cursor: pointer;
}

div {
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background: variables.$secondary;
  svg > * {
    stroke: variables.$on-secondary;
  }
}

svg path {
  stroke: variables.$secondary
}
