$dark-palette: (
        50 : #e4e4e4,
        100 : #bbbbbb,
        200 : #8e8e8e,
        300 : #606060,
        400 : #3e3e3e,
        500 : #1c1c1c,
        600 : #191919,
        700 : #141414,
        800 : #111111,
        900 : #090909,
        A100 : #e07171,
        A200 : #d74747,
        A400 : #eb0000,
        A700 : #d10000,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);


$mat-pink-palette: (
        50: #fce4ec,
        100: #f8bbd0,
        200: #f48fb1,
        300: #f06292,
        400: #ec407a,
        500: #e91e63,
        600: #d81b60,
        700: #c2185b,
        800: #ad1457,
        900: #880e4f,
        A100: #ff80ab,
        A200: #ff4081,
        A400: #f50057,
        A700: #c51162,
        contrast: (
                50: rgba(0, 0, 0, 0.87),
                100: rgba(0, 0, 0, 0.87),
                200: rgba(0, 0, 0, 0.87),
                300: rgba(0, 0, 0, 0.87),
                400: rgba(0, 0, 0, 0.87),
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(0, 0, 0, 0.87),
                A200: white,
                A400: white,
                A700: white
        )
);


$dark-defined-palette: (
        50: #e4e4e4,
        100: #bbbbbb,
        200: #8e8e8e,
        300: #606060,
        400: #3e3e3e,
        500: #1c1c1c,
        600: #191919,
        700: #141414,
        800: #111111,
        900: #090909,
        A100: #e07171,
        A200: #d74747,
        A400: #eb0000,
        A700: #d10000,
        contrast: (
                50: #000000,
                100: #000000,
                200: #000000,
                300: #ffffff,
                400: #ffffff,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                A100: #000000,
                A200: #ffffff,
                A400: #ffffff,
                A700: #ffffff
        ),
        default: #1c1c1c,
        lighter: #bbbbbb,
        darker: #141414,
        text: #1c1c1c,
        default-contrast: #ffffff,
        lighter-contrast: #000000,
        darker-contrast: #ffffff,
        "50-contrast": #000000,
        "100-contrast": #000000,
        "200-contrast": #000000,
        "300-contrast": #ffffff,
        "400-contrast": #ffffff,
        "500-contrast": #ffffff,
        "600-contrast": #ffffff,
        "700-contrast": #ffffff,
        "800-contrast": #ffffff,
        "900-contrast": #ffffff,
        "A100-contrast": #000000,
        "A200-contrast": #ffffff,
        "A400-contrast": #ffffff,
        "A700-contrast": #ffffff,
        "contrast-contrast": null
);
