/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

$my-palette: (
  50 : #e5e5e5,
  100 : #bfbfbf,
  200 : #949494,
  300 : #696969,
  400 : #484848,
  500 : #282828,
  600 : #242424,
  700 : #1e1e1e,
  800 : #181818,
  900 : #0f0f0f,
  A100 : #ee6767,
  A200 : #e93a3a,
  A400 : #f00000,
  A700 : #d60000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-primary: mat.define-palette(mat.$blue-gray-palette);
$my-accent: mat.define-palette(mat.$gray-palette);
$theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

//@include mat.core-theme();
//@include mat.chips-theme($theme);
//@include mat.all-component-themes($theme);

$dark-theme-background-darker: #151515;
$dark-theme-background: #1c1c1c;
$dark-theme-background-lighter: #252525;
$background-primary: #383838;
$background-secondary: #404040;
$filter-bubble: #A9A9A9;
$text-color: #D9D9D9;
$breadcrumb-hover: #19ccb2;

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $dark-theme-background;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $dark-theme-background;
}

::-webkit-scrollbar-thumb {
  background: $background-secondary;
}

::-webkit-scrollbar-thumb:hover {
  background: $background-primary;
}

mat-icon {
  color: $text-color;
}
