@use '@angular/material' as mat;
@use 'sass:map';
@use 'm3-theme';
@mixin show($map) {
  @at-root {
    @each $key, $value in $map {
      @debug "#{$key}";
    }
  }
}

$surface-container: mat.get-theme-color(m3-theme.$dark-theme, surface-container);
$surface: mat.get-theme-color(m3-theme.$dark-theme, surface);
$dark-theme-background-lighter: mat.get-theme-color(m3-theme.$dark-theme, primary, 20);
$on-surface: mat.get-theme-color(m3-theme.$dark-theme, on-surface);
$background-primary: #383838;
$background-secondary: #404040;
$filter-bubble: #A9A9A9;
$text-color: mat.get-theme-color(m3-theme.$dark-theme, on-surface);
$breadcrumb-hover: #19ccb2;
$accent-color: mat.get-theme-color(m3-theme.$dark-theme, on-surface);
$accent: mat.get-theme-color(m3-theme.$dark-theme, surface-bright);
$error: mat.get-theme-color(m3-theme.$dark-theme, error);

$secondary: mat.get-theme-color(m3-theme.$dark-theme, secondary);
$on-secondary: mat.get-theme-color(m3-theme.$dark-theme, on-secondary);


