<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Landing page</mat-panel-title>
  </mat-expansion-panel-header>
  landing-page items
  <app-outlet/>
  <mat-divider/>
  <h2>Add landing item(s)</h2>
  <mat-form-field>
    <mat-label>Ids (id1;id2;id3...)</mat-label>
    <input matInput [(ngModel)]="addIds">
  </mat-form-field>
  <button mat-button (click)="addItems()">Confirm</button>
  <mat-divider/>
  <mat-form-field>
    <mat-label>Ids (id1;id2;id3...)</mat-label>
    <input matInput [(ngModel)]="deleteIds">
  </mat-form-field>
  <button mat-button (click)="deleteItems()">Confirm</button>
</mat-expansion-panel>

