@import '../../../../styles';

.account {

  max-width: 500px;
  margin: 0 auto;


  .item-bars-list {
    padding: 10px;
    margin: 0 auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sec {
      display: flex;
      align-items: center;
    }
    .hello {
      color: $text-color;
      font-size: 21px;
    }
  }
  ul {
    list-style: none;
    color: $text-color;
    font-size: 16px;
    padding-left: 16px;
  }
  li {
    margin: 20px 0;
    cursor: pointer;
  }
}
