<div class="account">
  <div class="header">
    <div class="sec">
      <img src="./assets/navbar/Account.svg" alt="">
      <div class="hello">Hello, {{user.name}}</div>
    </div>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <app-item-bar [item]="order"></app-item-bar>
  <ul>
    <li (click)="accounService.enterPromocode()">Enter Promocode</li>
    <li [routerLink]="['/', 'orders', 'history']">Orders history</li>
<!--    <li>Add credit or debit card</li>-->
<!--    <li routerLink="policies">Privacy Policy & Agreements</li>-->
    <li><a href="http://localhost:4200/assets/test/Privacy_Policy.pdf" download="Privacy Policy" id="privacy" [style]="{'text-decoration': 'none', 'color': '#D9D9D9'}">Privacy Policy & Agreements</a></li>
    <li (click)="onLogout()">Logout</li>
  </ul>
</div>

